.booking-btn {
  background-color: #594cda;
  color: white;
  text-decoration: none;
  padding: 5px 17px 5px;
  border: 2px solid #594cda;
  border-radius: 10px;
  transition: 0.3s;
}

.booking-btn:hover {
  background-color: transparent;
  color: #594cda;
  text-decoration: none;
  padding: 5px 17px 5px;
  border: 2px solid #594cda;
  border-radius: 10px;
}

.whatsapp-icon {
  height: 90px;
  width: 90px;
  position: fixed;
  bottom: 50px;
  right: 0px;
  z-index: 999;
  background-color: transparent;
}

.menu-car {
  background-color: #594cda;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 2.7px 1.9px rgba(0, 0, 0, 0.034),
    0px 6.3px 4.3px rgba(0, 0, 0, 0.049), 0px 11.3px 7.7px rgba(0, 0, 0, 0.06),
    0px 18.8px 12.8px rgba(0, 0, 0, 0.07), 0px 31px 21.2px rgba(0, 0, 0, 0.081),
    0px 54.1px 37px rgba(0, 0, 0, 0.096), 0px 117px 80px rgba(0, 0, 0, 0.13);
  z-index: 9999;
  border-radius: 8px;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.menu-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-car {
  border: none;
  width: fit-content;
  padding: 10px 20px 10px;
  font-size: 15px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

  .choose-car {
    border: none;
    width: 100%;
    padding: 10px 20px 10px;
    font-size: 15px;
    border-radius: 10px;
  }
}

.submit-btn {
  border: none;
  background-color: white;
  border: 2px solid white;
  color: #594cda;
  padding: 10px 20px 10px;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.3s;
}

.submit-btn:hover {
  border: none;
  border: 2px solid white;
  background-color: #594cda;
  color: white;
  padding: 10px 20px 10px;
  font-weight: 700;
  border-radius: 8px;
}

.row-header {  
  margin-top: 1rem;
  text-align: center;
}

.article-title {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-bottom: 0px;
}

.article-subtitle {
  font-size: small;
  font-weight: bold;
  color: black;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.btn-outline-success {
  background-color: rgb(255, 93, 93);
  border-width: 0px;
  color: white;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.img {
  border-width: 0px;
  border-radius: 10px;
}

.fake-img {
  border-radius: 10px;
  width: 100%;
  margin: auto;
  padding: 20px;
  object-fit: cover;
}

.mt-3, .my-3 {
  margin-top: 1rem!important;
}

h3 {
  font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #121212;
  margin: 0px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 3px #dadada;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  margin: 0px;
}

i, span, a {
  display: inline-block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.right {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 0px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.popular {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  padding: 20px;
  object-fit: cover;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.lni {
  display: inline-block;
  font: normal normal normal 1em/1 'LineIcons';
  color: inherit;
  flex-shrink: 0;
  speak: none;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

div {
  display: block;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  user-select: none;
}

.gambar {
  object-fit: contain;
  border-radius: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.float-right {
  float: right!important;
}

.btn-back {
  margin-left: 3.5rem;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  margin-bottom: 0;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.features-area {
  background-color: #f4f6f7;
  padding-top: 120px;
  padding-bottom: 130px;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

.servis {
  border-width: 0px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
  border-radius: 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.call {
  background-image: url("https://images.unsplash.com/flagged/photo-1593005510329-8a4035a7238f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  padding: 100px;
}

.contact-wrapper .contact-title {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

.section-title .title {
  font-size: 44px;
  font-weight: 600;
  color: #121212;
  line-height: 55px;
}

i, span, a {
  display: inline-block;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.form-input .input-items {
  position: relative;
}

.form-style-two .form-input .input-items input, .form-style-two .form-input .input-items textarea {
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 44px;
}

.form-input .input-items.default input, .form-input .input-items.default textarea {
  border-color: #a4a4a4;
  color: #6c6c6c;
}

.form-input .input-items input, .form-input .input-items textarea {
  width: 100%;
  height: 44px;
  border: 2px solid;
  padding-left: 44px;
  padding-right: 12px;
  position: relative;
  font-size: 16px;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.contact-area {
  padding-top: 120px;
  padding-bottom: 130px;
  background-color: #f4f6f7;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.light-rounded-buttons .light-rounded-two {
  color: #fff;
  background-color: #0067f4;
  border-color: #0067f4;
}

.light-rounded-buttons .main-btn {
  border-radius: 5px;
}

.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 46px;
  color: #0067f4;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: relative;
  text-transform: uppercase;
}

.icon-servis {
  height: 50px;
  width: 150px;
  object-fit: contain;
}

/* img {
  height: 50px;
  width: 150px;
  object-fit: contain;
} */